<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú voluntario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .nav-item {
            border-bottom: 2px solid black; 
            padding-bottom: 10px; 
        }

       
        .nav-item:hover {
            border-bottom: 2px solid #f8f9fa; 
        }

        .nav-item:last-child {
            border-bottom: none;
        }


        .navbar-nav .nav-item {
            margin-bottom: 10px; 
        }
    </style>
</head>
<body>
    <!-- Fragmento para el menú -->
    <div th:fragment="menuVoluntario">
        <nav class="navbar" style="background-color: #dc3545; color: white; border-radius: 0px;">
            <div class="container-fluid d-flex align-items-center">
                <!-- Botón de tres rayas (hamburguesa) alineado a la izquierda -->
                <button class="navbar-toggler ms-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span> <!-- Icono de tres rayas -->
                </button>
                
                <!-- Título Menú Admin alineado al lado del botón -->
                <a class="navbar-brand ms-2" href="/editarVoluntario" style="color: white;">Editar Perfil</a>

                <!-- Menú Offcanvas -->
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header" style="background-color: #dc3545; color: white;">
						<h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú voluntario</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" style="color: white;"></button>
                    </div>
                    <div class="offcanvas-body" style="background-color: #dc3545;">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <!-- Menú Provincia -->
                            <li class="nav-item">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
                                    Actividades
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#" th:href="@{/listarVoluntarios}">listas</a></li>
									<li><a class="dropdown-item" href="#" th:href="@{/listarprovincia}">a2</a></li>
                                </ul>
                            </li>
                            <!-- Menú Canton -->
                            <li class="nav-item">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
                                    Cumplimientos
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#" th:href="@{/cantones}">Crear </a></li>
									<li><a class="dropdown-item" href="#" th:href="@{/listarcantones}">Lista </a></li>
                                </ul>
                            </li>
                            <!-- Menú Parroquia -->
                            <li class="nav-item">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
                                    Actividades realizadas
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#" th:href="@{/parroquia}">Crear </a></li>
                                    <li><a class="dropdown-item" href="#" th:href="@{/listarparroquia}">Lista </a></li>
                                </ul>
                            </li>
                            
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <!-- Cargar los archivos JS de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>