<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${titulo}">Formulario Especie</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h2 th:text="${titulo}">Formulario Especie</h2>

    <!-- Mensajes Flash -->
    <div th:if="${success}" class="alert alert-success alert-dismissible fade show" role="alert">
        <span th:text="${success}"></span>
        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
    </div>
    <div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
        <span th:text="${error}"></span>
        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
    </div>

    <!-- Formulario -->
    <form th:action="@{/especie}" th:object="${especie}" method="post">
        <!-- Campo oculto para el ID -->
        <input type="hidden" th:field="*{id_especie}" />

        <!-- Nombre -->
        <div class="form-group">
            <label for="nombre">Nombre de la Especie</label>
            <input type="text" th:field="*{nombre}" class="form-control" id="nombre" placeholder="Ingrese el nombre de la especie" required>
        </div>

       

        <!-- Botones -->
        <div class="d-flex justify-content-between">
            <!-- Botón de Guardar o Actualizar -->
            <button type="submit" class="btn btn-success">
                <span th:text="${especie.id_especie != null ? 'Actualizar' : 'Guardar'}">Guardar</span>
            </button>

            <!-- Enlace de Cancelar -->
            <a href="/listarespecie" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
