<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h2 th:text="${titulo}"></h2>

    <form th:action="@{/formprovincia}" th:object="${provincia}" method="post">
        <div class="form-group">
            <label for="nombreProvincia">Nombre de la Provincia</label>
			<input type="text" id="nombreProvincia" name="nombreProvincia" 
			       pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]+" required 
			       title="Solo se permiten letras y espacios" 
			       placeholder="Ingrese el nombre de la provincia" class="form-control" />
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
		<input type="hidden" th:field="*{id_provincia}" />
        <a href="/listarprovincia" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
