<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Provincias</title>
</head>
<body>
    <h1 style="text-align: center;">${titulo}</h1>
    
    <table border="1" cellpadding="5" cellspacing="0" style="margin: 0 auto; text-align: center;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="provincia : ${provincias}">
                <td th:text="${provincia.id_provincia}"></td>
                <td th:text="${provincia.nombreProvincia}"></td>
                <td>
                    <a th:href="@{/provincias/eliminar/{id}(id=${provincia.id_provincia})}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
    
    <div style="text-align: center; margin-top: 20px;">
        <a href="/provincias" style="text-decoration: none; color: blue; font-weight: bold;">Regresar</a>
    </div>
</body>
</html>
