 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${titulo}">Formulario Parcela</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <style>
        #map {
            height: 400px;
            width: 100%;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>

<div class="container mt-5">
    <h2 th:text="${titulo}">Formulario Parcela</h2>

    <form th:action="@{/parcelas}" th:object="${parcela}" method="post" onsubmit="return validarFormulario()">
        <input type="hidden" th:field="*{id_parcelas}" />

        <div class="form-group">
            <label for="id_suelo">Seleccionar Suelo</label>
            <select th:field="*{id_suelo}" class="form-control" id="id_suelo" required>
				<option value="">Seleccione una opción</option>
				<option th:each="suelo : ${suelos}" 
				        th:value="${suelo.id_suelo}" 
				        th:text="${suelo.tipo_suelos != null ? suelo.tipo_suelos.nombre_suelo : 'Tipo no disponible'}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="id_plantas">Seleccionar Planta</label>
            <select th:field="*{id_plantas}" class="form-control" id="id_plantas" required>
                <option value="">Seleccione una opción</option>
                <option th:each="planta : ${plantas}" th:value="${planta.id_plantas}" th:text="${planta.nombre_comun}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="id_area">Seleccionar Área</label>
            <select th:field="*{id_area}" class="form-control" id="id_area" required>
                <option value="">Seleccione una opción</option>
                <option th:each="area : ${areas}" th:value="${area.id_area}" th:text="${area.nombre}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="largo">Largo</label>
            <input type="number" step="0.01" th:field="*{largo}" class="form-control" id="largo" placeholder="Ingrese el largo de la parcela en metros" required>
        </div>

        <div class="form-group">
            <label for="ancho">Ancho</label>
            <input type="number" step="0.01" th:field="*{ancho}" class="form-control" id="ancho" placeholder="Ingrese el ancho de la parcela en metros" required>
        </div>

        <div class="form-group">
            <label for="x">Coordenada X</label>
            <input type="number" step="0.00000000000001" th:field="*{x}" class="form-control" id="x" placeholder="Ingrese o Seleccione la coordenada X " required>
        </div>

        <div class="form-group">
            <label for="y">Coordenada Y</label>
            <input type="number" step="0.0000000000000001" th:field="*{y}" class="form-control" id="y" placeholder="Ingrese o Seleccione la coordenada Y " required>
        </div>

        <div class="form-group">
            <label>Seleccionar coordenadas desde el mapa</label>
            <div id="map"></div>
        </div>

        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-success">
                <span th:text="${parcela.id_parcelas != null ? 'Actualizar' : 'Guardar'}">Guardar</span>
            </button>
            <a href="/listarparcelas" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>

<script>
    var map = L.map('map').setView([-2.838080, -79.224942], 12);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
	
	

    map.on('click', function(e) {
        document.getElementById('x').value = e.latlng.lng;
        document.getElementById('y').value = e.latlng.lat;
    });

    function validarFormulario() {
        var selects = document.querySelectorAll('select');
        for (var select of selects) {
            if (select.value === '') {
                alert('Por favor seleccione una opción en todos los campos.');
                return false;
            }
			
        }
		

        var inputs = document.querySelectorAll('input[type="number"]');
        for (var input of inputs) {
            if (input.value.trim() === '') {
                alert('Todos los campos numéricos deben estar completos.');
                return false;
            }
            if (/^0+/.test(input.value)) {
                alert('El campo de ' + input.id + ' debe estar completo.');
                return false;
            }
        }

        return true;
    }
</script>

</body>
</html>