<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ver Patrocinios</title>
    <script>
        function cargarPatrocinios() {
            var idProyecto = document.getElementById("proyecto").value;
            var nombreProyecto = document.getElementById("proyecto").options[document.getElementById("proyecto").selectedIndex].text;

            if (idProyecto) {
                var resultadosDiv = document.getElementById("resultados");
                resultadosDiv.innerHTML = `<h2>Proyecto Seleccionado: ${nombreProyecto}</h2>`; // Mostrar el nombre del proyecto

                fetch(`/patrocinios/${idProyecto}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response fue no ok: ' + response.statusText);
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log(data); 
                        resultadosDiv.innerHTML += ""; // Limpiar resultados anteriores
                        
                        if (data.length === 0) {
                            resultadosDiv.innerHTML += "<p>No se encontraron patrocinios para este proyecto.</p>";
                        } else {
							data.forEach(patrocinio => {
							    var patronDiv = document.createElement("div");
							    patronDiv.innerHTML = `
							        <h3>Beneficios: ${patrocinio.beneficios}</h3>
							        <p>Cantidad Estimada: ${patrocinio.cantiad_estimada}</p>
							        <p>Detalle: ${patrocinio.detalledpnado}</p>
							        <p>Fecha Inicio: ${patrocinio.fechainicio}</p>
							        <p>Fecha Fin: ${patrocinio.fechafin}</p>
							        <p>Tipo de Patrocinio: ${patrocinio.tipo_patrocinio}</p>
							        <p>Nombre de la Empresa: ${patrocinio.nombreEmpresa}</p> <!-- Mostrar nombre de la empresa -->
							    `;
							    resultadosDiv.appendChild(patronDiv);
							});
                        }
                    })
                    .catch(error => {
                        console.error('Hubo un problema con la operación fetch:', error);
                    });
            } else {
                document.getElementById("resultados").innerHTML = "<p>Seleccione un proyecto para ver los patrocinios.</p>";
            }
        }
    </script>
</head>
<body>
    <h1>Ver Patrocinios</h1>
    
    <form action="#" method="post">
        <label for="proyecto">Seleccione un Proyecto:</label>
        <select id="proyecto" name="id_proyecto" onchange="cargarPatrocinios()">
            <option value="" disabled selected>-- Seleccione un Proyecto --</option>
            <th:block th:each="proyecto : ${proyectos}">
                <option th:value="${proyecto.id_proyecto}" th:text="${proyecto.nombre}"></option>
            </th:block>
        </select>
    </form>

    <div id="resultados"></div>
</body>
</html>