<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Voluntario</title>
</head>
<body>
    <h1>Crear Nuevo Voluntario</h1>
    <form action="/guardarvolun" method="post">
		<input type="hidden" name="id_voluntario" th:value="${voluntarios != null ? voluntarios.id_voluntario : ''}" />

        <fieldset>
            <legend>Datos del Usuario</legend>
            <label for="cedula">Cédula:</label>
            <input type="text" name="cedula" id="cedula" required>
            <br>
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="nombre" required>
            <br>
            <label for="apellido">Apellido:</label>
            <input type="text" name="apellido" id="apellido" required>
            <br>
            <label for="correo">Correo:</label>
            <input type="email" name="correo" id="correo" required>
            <br>
			<label for="fecha_nacimiento">Fecha de Nacimiento:</label>
			<input type="date" name="fecha_nacimiento" id="fecha_nacimiento" required>
			<br>
			<label for="genero">Género:</label>
			<select name="genero" id="genero" required>
				<option value="true">Masculino</option>
				<option value="false">Femenino</option>
			</select>
			<br>
			<label for="celular">Celular:</label>
			<input type="text" name="celular" id="celular" required>
			<br>
            <label for="contraseña">Contraseña:</label>
            <input type="password" name="contraseña" id="contraseña" required>
            <br>
        </fieldset>
		<input type="hidden" name="id_usuarios" th:value="${usuario != null ? usuario.id_usuarios : ''}" />
        <fieldset>
            <legend>Datos del Voluntario</legend>
            <label for="experiencia">Experiencia:</label>
            <textarea name="experiencia" id="experiencia" required></textarea>
            <br>
            <label for="estado">Estado:</label>
            <select name="estado" id="estado" required>
                <option value="true">Activo</option>
                <option value="false">Inactivo</option>
            </select>
            <br>
            <label for="disponibilidad">Disponibilidad:</label>
            <select name="disponibilidad" id="disponibilidad" required>
                <option value="true">Disponible</option>
                <option value="false">No Disponible</option>
            </select>
            <br>
            <label for="fechaRegistro">Fecha de Registro:</label>
            <input type="date" name="fechaRegistro" id="fechaRegistro" required>
            <br>
			<input type="hidden" name="id_usuarios" th:value="${usuario != null ? usuario.id_usuarios : ''}" />
        </fieldset>

        <button type="submit">Guardar</button>
		<a href="/listarVoluntarios">Volver a la lista</a>
    </form>
</body>
</html>
